@inherits UmbracoTemplatePage
@using PipelineApp.Services

@{
    string bannerHeader = Model.Content.GetPropertyValue<string>("bannerHeader");
    string bannerText = Model.Content.GetPropertyValue<string>("bannerText");

    if (HttpContext.Current.Request.Cookies["PipelineContactId"] != null)
    {
        var contactId = int.Parse(HttpContext.Current.Request.Cookies["PipelineContactId"].Value);
        var contact = new PipelineService().GetContactById(contactId);

        if (contact != null)
        {
            bannerHeader = contact.GetPropertyValue("message") != null ?
                contact.GetPropertyValue("message") : bannerHeader;

            string persoBanner = "";
            foreach (var org in contact.Organisations)
            {
                if (org.GetPropertyValue("message") != null)
                {
                    persoBanner += "<p>" + org.GetPropertyValue("message") + "</p>";
                }
            }
            bannerText = string.IsNullOrEmpty(persoBanner) ? bannerText : persoBanner;
        }
    }
}


@if (CurrentPage.HideBanner == false)
{
    <!-- Banner -->
	<section id="banner">				
            <header>
                <h2>@bannerHeader</h2>
            </header>
            @Html.Raw(bannerText)
        <footer>
			<a href="#first" class="button style2 scrolly">@Umbraco.Field("bannerLinkText")</a>
		</footer>
	</section>
}